.username{
    margin-bottom: 2px; 
    padding-right: 102px; 
    padding-top: 20px;
}
.password{
    margin-bottom: 2px; 
    padding-right: 104px;
}
.submit{
    padding-top: 5px; 
    padding-left: 95px;
}
.register{
    padding-right: 270px;
}
.input-box{
    height: 220px;
}
.inancemanager{
    padding-left: 60px;
}
.mployee{
    padding-left: 10px;
}