.nav{
    padding-left: 1300px;
}
.logout{
    padding-left: 50px;
}
.food{
padding-bottom: 20px;
}
.travel{
    padding-bottom: 20px
}
.lodging{
    padding-bottom: 20px
}
.other{
    padding-bottom: 20px
}
.page{
    padding-left: 50px;
}
.back{
    padding-left: 1100px;
}